<!doctype html>
<html lang="sv">
<head>
<meta charset="utf-8" />
<title>Mc Bingo - Lista med tävlande</title>
<link rel="stylesheet" href="../css/simple.css" />
</head>
<body>
<h1> Vilka är med i tävlingen?</h1>
<ul>
{{#competitors}}
<li><strong>{{contest_code}}</strong>{{id}} : {{name}} - {{vehicle_number}} - {{time}}</li>
{{/competitors}}
</ul>
</body>
</html>
