<!doctype html>
<html lang="sv">
<head>
<meta charset="utf-8" />
<title>Mc Bingo - {{name}}</title>
<link rel="stylesheet" href="../css/simple.css" />
</head>
<body>
<h1> Välkommen</h1>
<ul>
<li><a href="competitor">Vill du anmäla ett lag?</a></li>
<li><a href="competitor-list">Vill titta på anmälda lag?</a></li>
<li>Vill du rapportera in resultat på station?</li>
<li>Vill du se resultat?</li>
</ul>
</body>
</html>
